body {
    background-color: black;
}

h1,
h2 {
    color: white;
}

#message {
    font-size: 50px;
    font-family: "Helvetica Neue";
    border: 3px solid white;
    width: 300px;
    height: auto;
    text-align: center;
}